/* Estilos Gerais */
body {
  background-color: #f4f6f9;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  overflow-x: hidden;
}

/* Header */
header {
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 0.125rem solid #dcdcdc;
  height: 3rem;
}

#header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 126.25rem;
  margin: 0 auto;
  gap: 1rem;
  padding: 0 1rem;
  height: 100%;
}

#logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#header-logo {
  width: 3.12rem;
  height: auto;
  border-radius: 100%;
  object-fit: cover;
}

h1 {
  font-size: 1rem;
  margin: 0;
  color: #333;
}

.header-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  margin-left: auto;
}

.btn-header {
  background-color: #0056b3;
  color: white;
  text-decoration: none;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  transition: background-color 0.3s ease;
}

.btn-header:hover:not(.active) {
  background-color: #003d82;
}

.btn-header.active {
  background-color: transparent;
  color: #0056b3;
  font-weight: bold;
  cursor: default;
  border: 0.1rem solid #0056b3;
}

#barra-navegacao {
  background: linear-gradient(90deg, #003d82, #0056b3);
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
  max-width: 106.25rem;
  margin: 3rem auto 0;

  z-index: 999;
  height: 2.5rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
  font-weight: bold;
  margin: 0 0.5rem;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: #002d63;
  transform: scale(1.03);
}

.nav-link.active {
  background-color: #0056b3;
  color: white;
  font-weight: bold;
  cursor: default;
  border: 0.1rem solid #003d82;
}

/* Main Content */
main {
  padding: 1.25rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.content {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 62.5rem;
  overflow: hidden;
  color: #333;
}

#titulo-principal {
  font-size: 2.5rem;
  color: #003d82;
  margin-bottom: 1.25rem;
  text-align: center;
}

/* Sections and Text */
section {
  margin-bottom: 2.5rem;
}

h2 {
  font-size: 1.8rem;
  color: #0056b3;
  margin-bottom: 0.625rem;
  font-weight: bold;
}

p,
ul,
ol {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.6;
}

ul,
ol {
  margin-left: 0;
  padding-left: 1.5rem;
}

ul {
  list-style-type: disc;
}

ul li,
ol li {
  margin-bottom: 0.5rem;
}

/* Description Container */
.description-container {
  background-color: #f0f7ff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid #d1e3f8;
  margin-bottom: 2rem;
}

.description-container p,
.description-container ol,
.description-container ul {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.description-container ol,
.description-container ul {
  margin-left: 0;
  padding-left: 1.5rem;
  margin-top: 0.5rem;
}

.description-container li {
  margin-bottom: 0.5rem;
  transition: all 0.3s ease;
}

.description-container p:hover,
.description-container li:hover {
  background-color: #e6f2ff;
  border-radius: 0.3rem;
}

.chart-description {
  text-align: justify;
  color: #2a2a2a;
  margin: 0.9rem 1.25rem;
  font-size: 0.95rem;
  line-height: 1.5;
  font-style: italic;
  background-color: #fff;
  padding: 0.9rem;
  border-radius: 0.3rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Dropdown */

.dropdown-content p {
  margin: 5px 10px;
  color: #0056b3;
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 1.25rem 0;
}

.dropdown-btn {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 0.4rem 0.6rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.dropdown-btn:hover {
  background-color: #003d82;
  transform: scale(1.05);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 8rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.25rem;
  padding: 0.3rem 0;
}

.dropdown-content.show {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 0.4rem 0.6rem;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
  font-size: 0.75rem;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Filters and Search */
.filters-container {
  margin-bottom: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  max-width: 25rem;
}

.filter-group {
  display: flex;
  flex-direction: column;
}

.filter-group label {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
  color: #333;
}

.filter-group select {
  padding: 0.5rem;
  font-size: 0.875rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  width: 100%;
}

.search-container {
  margin-bottom: 1.25rem;
  display: flex;
  gap: 0.625rem;
  flex-wrap: wrap;
  max-width: 18.75rem;
}

.search-input {
  padding: 0.5rem;
  font-size: 0.875rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  width: 100%;
  flex: 1;
}

.search-button {
  padding: 0.5rem 0.75rem;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #004399;
}

/* Table */
.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.25rem;
}

.table-header {
  border-bottom: 0.125rem solid #ccc;
  padding: 0.625rem;
  text-align: left;
  position: relative;
}

.sort-button {
  background: none;
  border: none;
  color: #0056b3;
  cursor: pointer;
  margin-left: 0.3125rem;
  font-size: 0.9rem;
}

.sort-button:hover {
  color: #003d82;
}

.data-table th,
.data-table td {
  padding: 0.625rem;
  border-bottom: 0.0625rem solid #ccc;
  text-align: left;
  padding-left: 0.9375rem;
}

.result-count {
  margin-top: 1.25rem;
  font-weight: bold;
}

footer {
  background-color: #021964;
  color: white;
  text-align: center;
  width: 100%;
  border-top: 0.125rem solid #003d82;
  height: auto;
  padding: 1rem 0;
}

#footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

#footer-logo {
  width: 5rem;
  height: auto;
}

footer p {
  font-size: 1rem;
  margin: 0;
  color: white;
}

#despesas-container {
  overflow-x: auto;
}
#compras-container {
  overflow-x: auto;
}

footer p {
  font-size: 0.875rem;
}

.chart-container {
  width: 95%; /* Reduza a largura para garantir espaços iguais */
  margin: 0 auto; /* Centraliza o gráfico horizontalmente */
  background-color: #f3f7fa;
  border-radius: 0.62rem;
  margin-bottom: 1.25rem;
  padding: 0.62rem;
  box-sizing: border-box; /* Garante que padding não afete a largura */
}

/* Responsividade */
@media (max-width: 768px) {
  .content {
    margin: 0.625rem;
  }

  .nav-link {
    font-size: 0.875rem;
  }

  .data-table th,
  .data-table td {
    padding: 0.5rem;
    padding-left: 0.625rem;
    font-size: 0.75rem;
  }

  .search-input,
  .filter-group select {
    width: 100%;
  }

  .search-container {
    max-width: 15.625rem;
  }

  .filters-container {
    max-width: 20rem;
  }

  /* Ajustes nas Tabelas */
  .data-table th,
  .data-table td {
    padding: 0.62rem 0.75rem; /* Reduzido para telas médias */
  }
}

/* Classe para exibir o conteúdo do dropdown */
.dropdown-content.show {
  display: block;
}

@media (max-width: 480px) {
  .dropdown {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.4rem;
  }

  #header-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    text-align: center;
    align-items: center; /* Alinha itens à esquerda */
    gap: 0.2rem; /* Ajuste de espaçamento */
  }

  .header-buttons {
    width: 100%;
    justify-content: center;
  }

  #barra-navegacao {
    flex-direction: row;
    height: 2.5rem;
    margin-top: 2rem;
    padding: 0.5rem 0.1rem;
  }

  .nav-link {
    display: flex; /* Ativa o flexbox */
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente */
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
    text-align: center; /* Garante que o texto esteja centralizado dentro do elemento */
  }

  #footer-container {
    flex-direction: column;
  }

  .content {
    padding: 0.9375rem;
    margin: 0.625rem;
  }

  #titulo-principal {
    font-size: 1rem;
  }

  h1 {
    font-size: 0.925rem;
  }

  #header-logo {
    width: 2.5rem; /* Reduzido de 3.125rem para 2.5rem */
  }

  footer p {
    font-size: 0.875rem;
  }

  .search-container,
  .filters-container {
    max-width: 100%;
  }

  .search-input,
  .filter-group select {
    width: 100%;
  }

  /* Ajustes nas Tabelas */
  .data-table th,
  .data-table td {
    padding: 0.5rem 0.62rem; /* Reduzido para telas menores */
    padding-left: 0.5rem; /* Ajustado para menor espaçamento */
    margin: 0 auto;
    margin: 1.25rem auto;
  }

  .chart-container h3 {
    font-size: 0.9rem;
  }

  .chart-description {
    font-size: 0.7rem;
  }
}

.botao-anomalia {
  margin: 10px 0;
  padding: 8px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.botao-anomalia:hover {
  background-color: #45a049;
}

.botao-anomalia:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.5);
}

@media (max-width: 768px) {
  .botao-anomalia {
    font-size: 12px; 
    padding: 6px 12px; 
  }
}

.texto-explicativo {
  font-size: 20px;
  color: #555;
  margin-bottom: 10px;
  text-align: center;
  font-style: italic;
}

@media (max-width: 768px) {
  .texto-explicativo {
    font-size: 12px; 
  }
}
