{% extends 'base.html' %} 
{% block content %}
<div class="content" style="display: flex; flex-direction: column; justify-content: center">
  <h1 id="titulo-principal">
    Guia de Uso
  </h1>

  <section class="description-container">
    <h2>Páginas do Site</h2>

    <!-- Página "Início" -->
    <h3>1. Página "Início"</h3>
    <p>
      A página "Início" apresenta uma visão geral do projeto, com informações sobre seu objetivo, tecnologias utilizadas e os membros da equipe.
      Ela serve como uma introdução ao site e à sua proposta de promover a transparência nos gastos públicos do Distrito Federal.
    </p>

<!-- Página "Análise de Gastos" -->
<h3>2. Página "Análise de Gastos"</h3>
<p>
  A página "Análise de Gastos" mostra como o Governo do Distrito Federal gasta dinheiro em várias áreas, como saúde, educação e segurança. Aqui você pode ver esses gastos em gráficos e tabelas fáceis de entender.
</p>

<h4>Gráficos Interativos</h4>
<p>
  Os gráficos mostram como os gastos estão divididos em diferentes áreas. Para entender melhor:
</p>
<ul>
  <li>Você pode usar o filtro para escolher um período de tempo ou um órgão público específico. Isso ajuda a mostrar apenas os dados que você quer ver.</li>
  <li>Quando você passa o mouse sobre qualquer parte do gráfico, vai aparecer um valor explicando o que aquele número significa. É uma maneira de entender o que está sendo mostrado de forma mais clara.</li>
</ul>
<p>
  Abaixo, temos uma imagem que mostra como usar o filtro para ver os detalhes.
</p>
<div style="text-align: center;">
  <img src="./static/images/Interacao1.png" alt="Exemplo de gráfico de gastos públicos" style="max-width: 600px; height: auto;"/>
</div>

<h4>Tabelas Detalhadas</h4>
<p>
  As tabelas mostram os valores exatos dos gastos, assim como as datas, o CNPJ, o objeto e a empresa.
</p>

<h4>Baixar os Dados</h4>
<p>
  Se você quiser guardar as informações para olhar depois, pode fazer o download dos gráficos e tabelas. Você pode baixar os dados em PDF. Aqui está um exemplo de como efetuar o download:
</p>
<ul>
  <li>Exemplo de Download dos Gráficos:</li>
  <div style="text-align: center;">
    <img src="./static/images/Exemplo1.png" alt="Ícone de download" style="max-width: 500px; height: auto;"/>
  </div>
  <div style="margin-top: 20px; font-family: Arial, sans-serif; font-size: 16px;">
    <ol style="color: #333;">
      <li>
        <span style="font-weight: bold; font-style: italic; color: #333;">A primeira seta</span> na imagem indica a opção para o download geral dos gráficos, ou seja, a possibilidade de baixar todos os gráficos de uma vez.
      </li>
      <li>
        <span style="font-weight: bold; font-style: italic; color: #333;">A segunda seta</span>, por sua vez, representa a opção de download específico, mostrando as opções disponíveis acima de cada gráfico, permitindo o download exclusivo de cada um individualmente.
      </li>
    </ol>
  </div>
  <li></li>
<ul>
  </section>
</div>
{% endblock %}
