{% extends 'base.html' %} 
{% block content %}
<div class="content" style="display: flex; flex-direction: column; justify-content: center">
  <h1 id="titulo-principal">
    Guia de Uso
  </h1>

  <section class="description-container">
    <h2>Páginas do Site</h2>

    <!-- Página "Início" -->
    <h3>1. Página "Início"</h3>
    <p>
      A página "Início" apresenta uma visão geral do projeto, com informações sobre seu objetivo, tecnologias utilizadas e os membros da equipe.
      Ela serve como uma introdução ao site e à sua proposta de promover a transparência nos gastos públicos do Distrito Federal.
    </p>

<!-- Página "Análise de Gastos" -->
<h3>2. Página "Análise de Gastos"</h3>
<p>
  A página "Análise de Gastos" mostra como o Governo do Distrito Federal gasta dinheiro em várias áreas, como saúde, educação e segurança. Aqui você pode ver esses gastos em gráficos e tabelas fáceis de entender.
</p>

<h4>2.1 Gráficos Interativos</h4>
<p>
  Os gráficos mostram como os gastos estão divididos em diferentes áreas. Para entender melhor:
</p>
<ul>
  <li>Quando você passa o mouse sobre qualquer parte do gráfico, aparecerá mais detalhes sobre o ano e o valor. É uma maneira de entender o que está sendo mostrado de forma mais clara.</li>
</ul>
<p>
  Abaixo, temos uma imagem que mostra os detalhes do gráfico de "Gastos com Compras" em abril de 2024.
</p>
<div style="text-align: center;">
  <img src="./static/images/Interacao1.png" alt="Exemplo de gráfico de gastos públicos" style="max-width: 600px; height: auto;"/>
</div>

<h4>Baixar os Dados</h4>
<p>
  Se você quiser guardar as informações para olhar depois, pode fazer o download dos gráficos e tabelas. Você pode baixar os dados em PDF. Aqui está um exemplo de como efetuar o download:
</p>
<ul>
  <li>Exemplo de Download dos Gráficos:</li>
  <div style="text-align: center;">
    <img src="./static/images/Exemplo1.png" alt="Ícone de download" style="max-width: 500px; height: auto;"/>
  </div>
  <div style="margin-top: 20px; font-family: Arial, sans-serif; font-size: 16px;">
    <ol style="color: #333;">
      <li>
        <span style="font-weight: bold; font-style: italic; color: #333;">A primeira seta</span> na imagem indica a opção para o download geral dos gráficos, ou seja, a possibilidade de baixar todos os gráficos de uma vez.
      </li>
      <li>
        <span style="font-weight: bold; font-style: italic; color: #333;">A segunda seta</span>, por sua vez, representa a opção de download específico, mostrando as opções disponíveis acima de cada gráfico, permitindo o download exclusivo de cada um individualmente.
      </li>
    </ol>
  </div>
</ul>
<h4>2.2 Tabelas</h4>
<p>
  Na parte de tabelas, você pode escolher qual tipo de gasto quer analisar pressionando o botão <strong>"Selecionar Gasto"</strong>. Nela, há duas opções principais:
</p>
<div style="text-align: center;">
  <img src="./static/images/tabela1.JPG" alt="Escolha de gastos" style="max-width: 700px; height: auto;"/>
</div>
<ul>
  <li>
    <strong>Compras:</strong> A seção de compras é exibida automaticamente ao entrar na parte de tabelas. Aqui, você pode selecionar o mês que deseja consultar para visualizar os dados correspondentes. As tabelas de compras apresentam informações detalhadas, como:
    <ul>
      <li>Empresa</li>
      <li>CNPJ</li>
      <li>Ano</li>
      <li>Valor</li>
      <li>Objeto</li>
    </ul>
  </li>
  <li>
    <strong>Despesas:</strong> Essa opção é dividida em várias subseções, como Ministério da Saúde, Ministério do Trabalho e outras áreas importantes. Você pode escolher o ano desejado e explorar os detalhes de cada subseção. As tabelas de despesas contêm informações como:
    <ul>
      <li>Ano</li>
      <li>Órgão</li>
      <li>Código do Órgão</li>
      <li>Empenhado</li>
      <li>Líquido</li>
      <li>Pago</li>
    </ul>
  </li>
</ul>

<h4>Filtragem de dados</h4>
<p>
  A pesquisa desejada pode ser realizada da seguinte forma:
</p>
<div style="text-align: center;">
  <img src="./static/images/tabela2.JPG" alt="Escolha de gastos" style="max-width: 700px; height: auto;"/>
</div>
<ol>
  <li>Na parte de <strong>compras</strong>, selecione o <strong>mês</strong> desejado.</li>
  <li>Na parte de <strong>despesas</strong>, selecione o <strong>ano</strong> desejado.</li>
  <li>Insira a informação desejada na caixa ao lado e, em seguida, pressione o botão <strong>"Pesquisar"</strong> para filtrar os dados.</li>
</ol>
<p>
  Assim, os gastos serão exibidos com base na filtragem realizada, mostrando ao final da tabela a quantidade de resultados encontrados.
</p>

<h4>Baixar PDF</h4>
<p>
  Para baixar os dados em formato PDF:
</p>
<ol>
  <li>Escolha o tipo de gasto.</li>
  <li>Selecione o período desejado.</li>
  <li>Aplique as filtragens desejadas.</li>
  <li>Clique no botão <strong>"Baixar Tabelas (PDF)"</strong> para salvar as informações no seu dispositivo.</li>
</ol>
<p>
  Essa funcionalidade permite que você visualize e salve exatamente os dados que deseja, com opções de detalhamento claras e organizadas. Como mostra a imagem abaixo.
</p>
<div style="text-align: center;">
  <img src="./static/images/tabela3.JPG" alt="Escolha de gastos" style="max-width: 700px; height: auto;"/>
</div>


  </section>
</div>
{% endblock %}
