{% extends 'base.html' %} {% block content %}
<div id="barra-navegacao" style="margin-top: -38px">
  <a href="{{ url_for('charts') }}" class="nav-link">Gráficos</a>
  <a href="{{ url_for('tables') }}" class="nav-link active">Tabelas</a>
</div>

<div class="content">
  <h2 class="titulo-principal">Monitoramento de Gastos Públicos</h2>

  <!-- Seção de Filtragem por Mês -->
  <div class="filters-container">
    <div class="filter-group">
      <!-- Filtro de Meses (para Compras) -->
      <div id="month-filter-container" style="display: none">
        <label for="month-filter">Filtrar por Mês:</label>
        <select id="month-filter" name="month-filter">
          <option value="">Todos os Meses</option>
          <option value="01">Janeiro</option>
          <option value="02">Fevereiro</option>
          <option value="03">Março</option>
          <option value="04">Abril</option>
          <option value="05">Maio</option>
          <option value="06">Junho</option>
          <option value="07">Julho</option>
          <option value="08">Agosto</option>
          <option value="09">Setembro</option>
          <option value="10">Outubro</option>
          <option value="11">Novembro</option>
          <option value="12">Dezembro</option>
        </select>
      </div>

      <!-- Filtro de Anos (para Despesas) -->
      <div id="year-filter-container" style="display: none">
        <label for="year-filter">Filtrar por Ano:</label>
        <select id="year-filter" name="year-filter">
          <option value="">Todos os Anos</option>
          <option value="2025">2025</option>
          <option value="2024">2024</option>
          <option value="2023">2023</option>
          <option value="2022">2022</option>
          <option value="2021">2021</option>
          <option value="2020">2020</option>
        </select>
      </div>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropdown-btn" id="dropdownButton">Selecionar Gasto</button>
    <div class="dropdown-content" id="dropdownContent">
      <a href="#" onclick="showSection('compras'); return false;"
        >Gastos com Compras</a
      >
      <p class="dropdown-subtitle">Órgãos de Despesas:</p>
      {% for orgao, _ in despesas_por_orgao.items() %}
      <a href="#" onclick="showSpecificDespesas('{{ orgao }}'); return false;">
        {{ orgao.split(' ', 1)[1] }}
      </a>
      {% endfor %}
    </div>
  </div>

  <div class="search-container" id="search-container">
    <input
      id="search-input"
      type="text"
      placeholder="Pesquisar..."
      class="search-input"
    />
    <button onclick="searchTable()" class="search-button">Pesquisar</button>
  </div>

  <!-- Contêiner de despesas -->
  <div id="despesas-container" style="display: none">
    <h3 id="despesas-title" class="subtitulo">Gastos com Despesas Gerais</h3>
    <div id="despesas-tabela-container"></div>
    <p id="result-count-despesas" class="result-count"></p>
  </div>

  <!-- Contêiner de compras -->
  <div id="compras-container">
    <h3 class="subtitulo">Gastos com Compras</h3>
    <table class="data-table">
      <thead>
        <tr>
          <th>Empresa</th>
          <th>CNPJ</th>
          <th>Objeto</th>
          <th>Valor</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody id="table-body">
        <!-- Dados preenchidos dinamicamente -->
      </tbody>
    </table>
    <p id="result-count" class="result-count">Exibindo 0 resultado(s).</p>
  </div>
</div>

<script>
  const compras = {{ compras|safe }};
  const despesasPorOrgao = {{ despesas_por_orgao|tojson }};
  let currentData = [];
  let currentSection = "compras";
  let despesasAtuais = [];

  function renderTableCompras(data) {
    const tbody = document.querySelector("#table-body");
    const resultCount = document.querySelector("#result-count");
    tbody.innerHTML = "";

    if (data.length === 0) {
      resultCount.textContent = "Nenhum resultado encontrado.";
      return;
    }

    data.forEach((item) => {
      const row = `<tr>
        <td>${item.empresa}</td>
        <td>${item.cnpj}</td>
        <td>${item.objeto}</td>
        <td>R$ ${item.valor.toFixed(2)}</td>
        <td>${item.data}</td>
      </tr>`;
      tbody.innerHTML += row;
    });

    resultCount.textContent = `Exibindo ${data.length} resultado(s).`;
  }

  function renderTableDespesas(data) {
    const tabelaContainer = document.querySelector("#despesas-tabela-container");
    const resultCount = document.querySelector("#result-count-despesas");
    tabelaContainer.innerHTML = "";

    if (data.length === 0) {
      tabelaContainer.innerHTML = "<p style='text-align: center;'>Nenhum resultado encontrado.</p>";
      resultCount.textContent = "";
      return;
    }

    const tableHtml = `
      <table class="data-table">
        <thead>
          <tr>
            <th>Ano</th>
            <th>Órgão</th>
            <th>Código do Órgão</th>
            <th>Empenhado</th>
            <th>Liquidado</th>
            <th>Pago</th>
          </tr>
        </thead>
        <tbody>
          ${data
            .map(
              (item) => `
                <tr>
                  <td>${item.ano}</td>
                  <td>${item.orgao}</td>
                  <td>${item.codigoOrgao}</td>
                  <td>R$ ${item.empenhado.toFixed(2)}</td>
                  <td>R$ ${item.liquidado.toFixed(2)}</td>
                  <td>R$ ${item.pago.toFixed(2)}</td>
                </tr>`
            )
            .join("")}
        </tbody>
      </table>
    `;

    tabelaContainer.innerHTML = tableHtml;
    resultCount.textContent = `Exibindo ${data.length} resultado(s).`;
  }

  function showSection(section) {
    const comprasContainer = document.getElementById("compras-container");
    const despesasContainer = document.getElementById("despesas-container");
    const searchContainer = document.getElementById("search-container");
    const monthFilterContainer = document.getElementById("month-filter-container");
    const yearFilterContainer = document.getElementById("year-filter-container");

    if (section === "compras") {
        comprasContainer.style.display = "block";
        despesasContainer.style.display = "none";
        searchContainer.style.display = "flex";
        monthFilterContainer.style.display = "block";
        yearFilterContainer.style.display = "none";
        currentSection = "compras";
        currentData = compras;
        document.getElementById("month-filter").value = "";
        renderTableCompras(compras);
    } else if (section === "despesas") {
        comprasContainer.style.display = "none";
        despesasContainer.style.display = "block";
        searchContainer.style.display = "flex";
        monthFilterContainer.style.display = "none";
        yearFilterContainer.style.display = "block";
        currentSection = "despesas";
        currentData = despesasAtuais;
        document.getElementById("year-filter").value = "";
        renderTableDespesas(despesasAtuais);
    }
  }

  function showSpecificDespesas(orgao) {
    despesasAtuais = despesasPorOrgao[orgao];
    showSection("despesas");
    renderTableDespesas(despesasAtuais);
  }
  function searchTable() {
  const query = document.getElementById("search-input").value.toLowerCase().trim();
  const selectedMonth = document.getElementById("month-filter").value;
  const selectedYear = document.getElementById("year-filter").value;
  let filteredData = [];

  if (currentSection === "compras") {
    filteredData = compras.filter((item) => {
      const itemMonth = item.data.split('/')[1];
      let isWithinMonth = true;

      if (selectedMonth && selectedMonth !== "") {
        isWithinMonth = (itemMonth === selectedMonth);
      }

      const matchesSearch = query === '' || (
        item.empresa.toLowerCase().includes(query) ||
        item.cnpj.toLowerCase().includes(query) ||
        item.objeto.toLowerCase().includes(query) ||
        item.data.includes(query) ||
        item.valor.toString().includes(query)
      );

      return isWithinMonth && matchesSearch;
    });
    renderTableCompras(filteredData);
  } else if (currentSection === "despesas") {
    filteredData = despesasAtuais.filter((item) => {
      let isWithinYear = true;

      if (selectedYear && selectedYear !== "") {
        isWithinYear = (item.ano.toString() === selectedYear);
      }

      const matchesSearch = query === '' || (
        item.ano.toString().includes(query) ||
        item.orgao.toLowerCase().includes(query) ||
        item.codigoOrgao.toString().includes(query) ||
        item.empenhado.toString().includes(query) ||
        item.liquidado.toString().includes(query) ||
        item.pago.toString().includes(query)
      );

      return isWithinYear && matchesSearch;
    });
    renderTableDespesas(filteredData);
  }
}


  // Função para alternar a exibição do dropdown
  function toggleDropdown() {
    document.getElementById("dropdownContent").classList.toggle("show");
  }

  // Fecha o dropdown se o usuário clicar fora dele
  window.onclick = function(event) {
    if (!event.target.matches('#dropdownButton')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      for (var i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }

  // Adiciona o evento de clique ao botão do dropdown
  document.getElementById("dropdownButton").addEventListener("click", function(event) {
    event.stopPropagation(); // Evita que o clique seja propagado para o window
    toggleDropdown();
  });

  // Adicione event listeners para os filtros
  document.getElementById("month-filter").addEventListener("change", function() {
    searchTable();
  });

  document.getElementById("year-filter").addEventListener("change", function() {
    searchTable();
  });

  // Inicializa a seção de compras ao carregar a página
  showSection("compras");
</script>
{% endblock %}
