{% extends 'base.html' %} {% block content %}

<div class="content">
  <h2 class="titulo-principal">Monitoramento de Gastos Públicos</h2>

  <!-- Seção de Filtragem por Mês -->
  <div class="filters-container">
    <div class="filter-group">
      <!-- Filtro de Meses (para Compras) -->
      <div id="month-filter-container" style="display: none">
        <label for="month-filter">Filtrar por Mês:</label>
        <select id="month-filter" name="month-filter">
          <option value="">Todos os Meses</option>
          <option value="01">Janeiro</option>
          <option value="02">Fevereiro</option>
          <option value="03">Março</option>
          <option value="04">Abril</option>
          <option value="05">Maio</option>
          <option value="06">Junho</option>
          <option value="07">Julho</option>
          <option value="08">Agosto</option>
          <option value="09">Setembro</option>
          <option value="10">Outubro</option>
          <option value="11">Novembro</option>
          <option value="12">Dezembro</option>
        </select>
      </div>

      <!-- Filtro de Anos (para Despesas) -->
      <div id="year-filter-container" style="display: none">
        <label for="year-filter">Filtrar por Ano:</label>
        <select id="year-filter" name="year-filter">
          <option value="">Todos os Anos</option>
          <option value="2025">2025</option>
          <option value="2024">2024</option>
          <option value="2023">2023</option>
          <option value="2022">2022</option>
          <option value="2021">2021</option>
          <option value="2020">2020</option>
        </select>
      </div>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropdown-btn" id="dropdownButton">Selecionar Gasto</button>
    <div class="dropdown-content" id="dropdownContent">
      <a href="#" onclick=" secaoAtual = 'compras'; mostrarTabela();"
        >Gastos com Compras</a
      >
      <p class="dropdown-subtitle">Órgãos de Despesas:</p>
      {% for orgao, _ in despesas_por_orgao.items() %}
      <a
        href="#"
        onclick="secaoAtual = 'despesas'; mostrarDespesasPorOrgao('{{ orgao }}');"
      >
        {{ orgao.split(' ', 1)[1] }}
      </a>
      {% endfor %}
    </div>
  </div>

  <div class="search-container" id="search-container">
    <input
      id="search-input"
      type="text"
      placeholder="Pesquisar..."
      class="search-input"
    />
    <button class="search-button" id="botao-pesquisar">Pesquisar</button>
  </div>

  <h3 id="despesas-title" class="subtitulo">
    Gastos com <span id="secao-selecionada">Compras</span>
  </h3>

  <!-- Contêiner de despesas -->
  <div id="despesas-container" style="display: none">
    <div id="despesas-tabela-container"></div>
  </div>

  <!-- Contêiner de compras -->
  <div id="compras-container">
    <table class="data-table">
      <thead>
        <tr>
          <th>Empresa</th>
          <th>CNPJ</th>
          <th>Objeto</th>
          <th>Valor</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody id="table-body">
        <!-- Dados preenchidos dinamicamente -->
      </tbody>
    </table>
  </div>
  <p id="result-count" class="result-count">Exibindo 0 resultado(s).</p>
</div>

<script>
    const gastosCompras = {{ compras|safe }};
    const despesasPorOrgao = {{ despesas_por_orgao|tojson }};
  try {
    const script = document.createElement('script');
    script.src = "{{ url_for('static', filename='scripts/tables.js') }}";
    script.onerror = function() {
      console.error('Erro ao carregar o arquivo tables.js');
    };
    document.body.appendChild(script);
  } catch (error) {
    console.error('Erro ao importar tables.js:', error);
  }
</script>
{% endblock %}
